#bustBox {
    height:auto;
    width:auto;
    text-align: center;
    font-size:30px;
    color:white;

    position:absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
}


@media only screen and (max-width: 600px) {
    #bustBox {
        top:25%;
        left:75%;
    }
  }