.App {
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    background:url("../public/table.jpeg");
    background-size:cover;
    background-repeat:no-repeat;


    
}



